<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Info</title>
</head>

<script type="text/javascript">
    function beforeSubmit() {
        var userName = document.getElementById('userName').value;
        var passWord = document.getElementById('passWord').value;
        if (username.length < 2 || password.length < 4) {
            alert('格式不正确！');
            return false;
        } else {


            return true;
        }
    }

	function getList(){
		window.location.href='/customer/findCustomerList';
	}


</script>


<body>



<form th:action="@{'/customer/newCustomer'}" method="post"  onsubmit="return beforeSubmit()">


	<table>
		<tr>new customer</tr>
	    <tr>
	    	<td>ID</td>
	        <td>userName</td>
	        <td>passWord</td>
			<td>job</td>
	    </tr>
	    <tr>
	    	<td><input type="hidden" id="id" name="id" th:value="${customer.id}" /></td>
	        <td><input type="text"  id="userName"   name="userName"  th:value="${customer.userName}"  /></td>
	        <td><input type="text"  id="passWord"   name="passWord"  th:value="${customer.passWord}"  /></td>
	        <td><input type="text"  id="job"   name="job"   th:value="${customer.job}" /></td>
	    </tr>
	</table>

    <input type="submit" value="Submit" />

    <input type="button" value="ListAll" onclick="getList()" />

</form>

</body>
</html>
